HTTP_SERVE_PORT=8081
JWT_SIGNING_KEY="5Sm0wEm+zZBLhiZzGYeAiTehKfgnrgmBOxdOOW2LVL8="
TOKEN_TTL=3600
POSTGRES_HOST=db
POSTGRES_DB=deu
POSTGRES_USER=deu_admin
POSTGRES_PASSWORD=nolodire
POSTGRES_PORT=5432
EMAIL_SERVER=smtp.google.com
EMAIL_NAME=john.doe@email.com
EMAIL_USERNAME=john.doe@email.com
EMAIL_PASSWORD=nolodire
EMAIL_PORT=456
FILE_PATH="/files"
FLAVOR=dev
# B2 Backblaze
KEY_ID= mykey
KEY_NAME= deu-ucv
APPLICATION_KEY= my-app-key
BUCKET_NAME= deu-ucv
ENDPOINT= s3.us-east-005.backblazeb2.com