HTTP_SERVE_PORT=8081
JWT_SIGNING_KEY="5Sm0wEm+zZBLhiZzGYeAiTehKfgnrgmBOxdOOW2LVL8="
TOKEN_TTL=3600
FLAVOR=dev

# -- Rails Landing (deu-app) --
RAILS_ENV=production
LANDING_PORT=3000
RAILS_LOG_TO_STDOUT=1
RAILS_SERVE_STATIC_FILES=1
SECRET_KEY_BASE=320ccf43bab76ed3c5af0e63dcdfcc4ce794e4f4af7c3260f4d8dc68cd4c8b6f3b7e068246c53544e3cc26c6e65354ba4ee3fe715aa74220b3eb7bcb728931a1
RAILS_FORCE_SSL=false
DEU_SEED_PASSWORD=123123
DEU_SUPER_ADMIN_EMAILS=admin@ucv.ve

# -- Database Config --
POSTGRES_HOST=db
POSTGRES_DB=deu
POSTGRES_USER=deu_admin
POSTGRES_PASSWORD=nolodire
POSTGRES_PORT=5432

# -- Email Config --
EMAIL_SERVER=smtp.google.com
EMAIL_NAME=john.doe@email.com
EMAIL_USERNAME=john.doe@email.com
EMAIL_PASSWORD=nolodire
EMAIL_PORT=456
FILE_PATH="/files"

# B2 Backblaze
BLACKBLAZE_B2_KEY_ID=mykey
BLACKBLAZE_B2_KEY_NAME=deu-ucv
BLACKBLAZE_B2_APPLICATION_KEY=my-app-key
BLACKBLAZE_B2_BUCKET_NAME=deu-ucv
BLACKBLAZE_B2_ENDPOINT=s3.us-east-005.backblazeb2.com
BLACKBLAZE_B2_REGION=us-east-005