# -- espacios-uuniversitarios --

# Backend/App Ports

PORT=3000
FRONTEND_PORT=8080
NGINX_PORT=80
APP_DOMAIN=gestiondeespacio.extension.ucv.ve
TRAEFIK_ACME_EMAIL=admin@extension.ucv.ve
LOCAL_HOST=192.168.1.100

ALLOWED_ORIGINS=https://gestiondeespacio.extension.ucv.ve,http://gestiondeespacio.extension.ucv.ve

# Tokens

JWT_SECRET=
REFRESH_TOKEN_SECRET=

# Configuración de PostgreSQL (db)

DB_HOST=                   # Nombre del servicio de la DB en Docker Compose o localhost si se ejecuta sin Docker
DB_PORT=5432
DB_USER=ejemplo
DB_PASSWORD=nope
DB_NAME=EspaciosUniversitarios
DB_DIALECT=postgres

# Backups de PostgreSQL
BACKUP_INTERVAL_HOURS=24
BACKUP_RETENTION_DAYS=7

#Configuracion del uso del correo

EMAIL_USER=espaciosuniversitariosucv@gmail.com
EMAIL_PASS=
EMAIL_FROM="Sistema de Reservas Espacios Universitarios"

#Correos fijos para notificaciones

BomberosMail=
SeguridadMail=
mantenimientoMail=
JefeDeProtocoloMail=
COPREDMail=
